
.board {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
    margin: auto;
    margin-top: 100px;
    background-color: #bbada0;
    width: 445px;
    padding: 15px;
    border-radius: 6px;
}

.board-cell {
    background-color:rgba(238, 228, 218, 0.35);
    height: 100px;
    width: 100px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 55px;
    font-weight: 700;
    color:white;
}

[data-cell-value="2"], [data-cell-value="4"] {
    opacity: 1;
    color: #776e65;
}

[data-cell-value="128"], [data-cell-value="256"], [data-cell-value="512"] {
    opacity: 1;
    font-size: 45px;
}

[data-cell-value="1024"], [data-cell-value="2048"] {
    opacity: 1;
    font-size: 40px;
}

[data-cell-value="2"] {
    opacity: 1;
    background-color: rgba(238, 228, 218, 1);
}

[data-cell-value="4"] {
    opacity: 1;
    background-color: rgba(238, 225, 201, 1);
}

[data-cell-value="8"] {
    opacity: 1;
    background-color: rgba(243, 178, 122, 1);
}

[data-cell-value="16"] {
    opacity: 1;
    background-color: rgba(246, 150, 100, 1);
}

[data-cell-value="32"] {
    opacity: 1;
    background-color: #F77C5F;
}

[data-cell-value="64"] {
    opacity: 1;
    background-color: #F75F3B;
}

[data-cell-value="128"] {
    opacity: 1;
    background-color: #EDD073;
}

[data-cell-value="256"] {
    opacity: 1;
    background-color: #EDCC62;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175), inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
}
[data-cell-value="512"] {
    opacity: 1;
    background-color: #EDC950;
    box-shadow: 0 0 50px 15px rgba(243, 215, 116, 0.4868253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952);
}
[data-cell-value="1024"] {
    opacity: 1;
    background-color: #EDC53F;
    box-shadow: 0 0 70px 20px rgba(243, 215, 116, 0.6468253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952);
}
[data-cell-value="2048"] {
    opacity: 1;
    background-color: #EDC22E;
    box-shadow: 0 0 70px 30px rgba(243, 215, 116, 0.6468253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952);
}