@keyframes slidePointsUp {
    from {
        opacity: 1;
        bottom: 0;
    }
    to {
        opacity: 0;
        bottom: 100px;
    }
}

@keyframes showOverlay {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf8ef;
    color: #776e65;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

header {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 20px;
}

header h1 {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 5rem;
}

.left-panel {
    width: 50%;
}

.left-panel a{
    color: inherit;
    font-weight: 700;
}

.right-panel {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.scores {
    display: flex;
    justify-content: flex-end
}

.scoreboard {
    position: relative;
    background: #bbada0;
    color: #eee4da;
    padding: 3px 15px 0px;
    border-radius: 3px;
    margin-top: 8px;
    min-width: 35px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreboard + .scoreboard {
    margin-left: 5px;
}

.scoreboard p + p {
    font-size: 25px;
    font-weight: 700;
    color: white;
}

.new-points {
    font-size: 24px;
    color: #8f7a66;
    font-family: 'Open Sans';
    position: absolute;
    bottom: 0;
    right: calc(5px + 100%);
    animation: slidePointsUp 1s forwards;
    text-align: center;
}

.play {
    background-color: #8f7a66;
    font-size: 1rem;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    cursor: pointer;
    width: 50%;
    align-self: flex-end;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    transition: background-color 0.2s;
}

/* This is an experimental feature. As of today, 19 Jan 2021,
   it has only 68% coverage */
.play:not(.focus-visible) {
    outline: none;
}

.play:hover {
    background-color: #af9e8e;
}

.game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.board {
    position: relative;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(4, 100px);
    gap: 15px;
    margin: auto;
    background-color: #bbada0;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
}

.board-cell {
    background-color:rgba(238, 228, 218, 0.35);
    height: 100px;
    width: 100px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 700;
    color:white;
}

.overlay-container {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
    right: 0;
    bottom: 0;
    animation: showOverlay 0.5s ease-out;
    backdrop-filter: blur(6px);
}

.game-over-overlay {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}

.game-over-overlay-none {
    display: none;
}

.game-over-overlay p {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}

.game-over-overlay .play {
    align-self: center;
    font-family: "Open Sans", "Helvetica Neue";
    font-size: 20px;
    width: 40%;
}

[data-cell-value="2"], [data-cell-value="4"] {
    opacity: 1;
    color: #776e65;
}

[data-cell-value="128"], [data-cell-value="256"], [data-cell-value="512"] {
    opacity: 1;
    font-size: 45px;
}

[data-cell-value="1024"], [data-cell-value="2048"] {
    opacity: 1;
    font-size: 40px;
}

[data-cell-value="2"] {
    opacity: 1;
    background-color: rgba(238, 228, 218, 1);
}

[data-cell-value="4"] {
    opacity: 1;
    background-color: rgba(238, 225, 201, 1);
}

[data-cell-value="8"] {
    opacity: 1;
    background-color: rgba(243, 178, 122, 1);
}

[data-cell-value="16"] {
    opacity: 1;
    background-color: rgba(246, 150, 100, 1);
}

[data-cell-value="32"] {
    opacity: 1;
    background-color: #F77C5F;
}

[data-cell-value="64"] {
    opacity: 1;
    background-color: #F75F3B;
}

[data-cell-value="128"] {
    opacity: 1;
    background-color: #EDD073;
}

[data-cell-value="256"] {
    opacity: 1;
    background-color: #EDCC62;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175), inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
}
[data-cell-value="512"] {
    opacity: 1;
    background-color: #EDC950;
    box-shadow: 0 0 50px 15px rgba(243, 215, 116, 0.4868253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952);
}
[data-cell-value="1024"] {
    opacity: 1;
    background-color: #EDC53F;
    box-shadow: 0 0 70px 20px rgba(243, 215, 116, 0.6468253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952);
}
[data-cell-value="2048"] {
    opacity: 1;
    background-color: #EDC22E;
    box-shadow: 0 0 70px 30px rgba(243, 215, 116, 0.6468253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952);
}